* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div{
    width: 100%;
    height: auto;
}
body {
	margin: 0;
	font-family: "Barlow", sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}
li{
    list-style: none;
}
p{
    text-decoration: none;
    color: var(--very-dark-grayish-blue);
}
a{
    text-decoration: none;
}